{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="site-section block-3 site-blocks-2 bg-light">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-7 site-section-heading text-center pt-4">
            <h2>{{category.name}}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="nonloop-block-3 owl-carousel">
                {% for product in products %}
                    <div class="item">
                        <div class="block-4 text-center">
                          <figure class="block-4-image">
                            <img src="{% get_media_prefix %}{{product.image}}" alt="{{product.name}}" class="img-fluid">
                          </figure>
                          <div class="block-4-text p-4">
                            <h3><a href="#">{{product.name}}</a></h3>
                            <p class="mb-0">{{product.description}}</p>
                            <p class="text-primary font-weight-bold">BGN {{product.price}}</p>
                            <p>
                                <div class="product_count">
                                <label for="quantity">Quantity:</label>
                                <input type="text" name="quantity" id="quantity_{{product.id}}" size="3" maxlength="12" value="{{product.quantity}}" title="Quantity:" class="input-text qty">
                                <button id="increase_{{product.id}}" class="lnr modify-quantity" type="button"><i>+</i></button>
                                <button id="decrease_{{product.id}}" class="lnr modify-quantity" type="button"><i>-</i></button>
                            </div>
                            <div class="card_area d-flex align-items-center">
                                <a id="cart_{{product.id}}" class="noclick btn btn-sm btn-primary add-to-cart" href="#">Add to Cart</a>
                                <a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
                                <a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
                            </div>
                            </p>
                          </div>
                        </div>
                      </div>
                {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
